@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(92deg, #012469 -10.76%, #034be2 121.45%);
}

/* td {
  padding: 10px;
  border-bottom: 15px solid transparent;
  background-color: white;
  background-clip: padding-box;
} */
